{% extends "base.html" %}

{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">basic e-commerce</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br>
                    <p align='justify'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae odio velit. Etiam viverra est egestas massa placerat, in sodales tortor pretium. Cras non diam commodo magna elementum fringilla. Aliquam rutrum erat eget commodo venenatis. Donec tristique sagittis fringilla. Duis finibus tempor lectus, ac fringilla mi egestas sed. In vitae erat a justo facilisis sollicitudin vitae ut lorem. Donec ut aliquet augue. Mauris libero augue, suscipit sed ipsum finibus, mattis molestie mi. Sed sit amet finibus ex. Nam ac ligula ac neque hendrerit mattis sed vel justo. Aliquam erat volutpat.
                    </p>
                    <br>
                </div>
            </center>
        </div>
    </div>
{% endblock %}